html, body {
  height: 100vh;
}

/* fix pico */

dialog > article > header .close, dialog > article > header :is(a,button)[rel=prev] {
  /* fix the position of the close button */
  transform: translateY(5px);
}

/* pico overrides */

button.toolbar {
  /* small button with icon */
  padding: 0;
}


/* space utils */

.hvh {
  height: 100vh;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.m-10 {
  margin: 1rem;
}

.px-10 {
  padding-left: 1rem;
  padding-right: 1rem;
}


/* flex utils */
.col, .row {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
  align-items: flex-start;
}

.grow {
  flex: 1;
}

.centered {
  align-items: center;
  justify-content: center;
}

.g-10 {
  gap: 1rem;
}


/* documentation blocks */

xpr-code pre {
  padding: 1em;
}

/* symbols */

.sym {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
