@import "tailwindcss";

html, body {
  height: 100%;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "Noto Sans", Roboto, Helvetica Neue, sans-serif;
  font-weight: 300;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #e7e7e7;
}

main {
  position: absolute;
  display: flex;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow: auto;
}

a {
  /*@apply text-blue-500 dark:text-blue-300 hover:text-blue-700*/
  /*  dark:hover:text-blue-500 hover:underline;*/
}

p, h1, h2, h3, h4, h5, h6, code, article {
  @apply my-3;
}

h1 {
  @apply text-3xl font-light;
}

h2 {
  @apply text-2xl font-light;
}

h3 {
  @apply text-xl font-light;
}

pre {
  font-size: .8em;
  padding: 1em;
}

pre {
  /*@apply px-4 py-0 text-xs;*/
}

article {
  /*@apply block rounded-md dark:bg-amber-100 p-4 font-mono border-gray-500*/
  /*  border-1;*/
}

.active {
  font-weight: bold;
}
