/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}


nav {
  display: flex;
  flex-direction: column;

  button {
    height: 3em;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #646464;
    background-color: white;
  }

  button:hover {
    color: white;
    background-color: #646464;
  }

  button:active {
    color: white;
    background-color:#33a62d;
  }
}

pre {
  padding: 1.5rem;
}
